<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fitness Blog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" type="text/css">
            <link rel="stylesheet" href="assets/css/cssF/fontello.css" type="text/css">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
            {# <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> #}
            <link rel="stylesheet" href="{{ asset('assets/css/simpleLightbox.min.css') }}">
        {% endblock %}


    </head>
    <body>

            <header>
                <h1 class="logo">Fitness Blog</h1>
                <nav id="topnav">
                    <ul class="menu">
                        <li><a href="{{ path('app_index') }}">Strona główna</a></li>
                        <li><a href="#">Dlaczego sport?</a></li>
                        <li><a href="#">Sklep</a></li>
                        <li><a href="#">O autorze</a></li>
                        <li><a href="#">Kontakt</a></li>
                        {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Wyloguj się</a></li>
                        {% else %}
                        <li><a href="{{ path('app_login') }}">Zaloguj się</a></li>
                        <li><a href="{{ path('app_register') }}">Zarejestruj się</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <main>
                <div id="left" class="box">
                    {% block body %}

                    {% endblock %}

                </div>
                <div id="right" class="box">

                    <div id="zegar">
                        <h1 style="letter-spacing: 4px; margin-bottom: 0;">16:16</h1>
                        <h4 style="margin-top: 0px;"><small>20.02.2023</small></h4>
                    </div>


                </div>
                <div style="clear: both;"></div>
            </main>

            <footer id="stopka" style="max-width: 1000px; margin: 0 auto;">
                <div  style="padding-top: 80px; padding-bottom: 80px;">
                    <div class="box-foot">
                        <div>
                            <div style="text-align: center"><img src="{{ asset('assets/images/1.png') }}" /> </div>
                            <div style="font-size: 24px; text-align: center">Wgrywaj swoje zdjęcia</div>
                            <p >Wgrywaj swoje zdjęcia bez limitu. Używaj zgodnych formatów plików zdjęciowych</p>
                        </div>
                    </div>
                    <div class="box-foot">
                        <div >
                            <div style="text-align: center"><img src="{{ asset('assets/images/2.png') }}" /> </div>
                            <div style="font-size: 24px; text-align: center">Darmowe konto użytkownika</div>
                            <p >Załóż darmowe konto i korzystaj z niego bez limitu. Twoje zdjęcia, twoje dane.</p>
                        </div></div>
                    <div class="box-foot">
                        <div >
                            <div style="text-align: center"><img src="{{ asset('assets/images/3.png') }}" /> </div>
                            <div style="font-size: 24px; text-align: center">Wpływ na rozwój serwisu</div>
                            <p >Miej duży wpływ na rozwój serwisu przy wgrywaniu zdjęć. Wszystko co wgrywasz publicznie ma znaczenie.</p>
                        </div>
                    </div>

                </div>
            </footer>
            <script src="assets/js/app.js"></script>
            {% block javascripts %}

                <script src="{{ asset('assets/js/jquery-3.6.1.slim.min.js') }}"></script>
                <script src="{{ asset('assets/js/popper.min.js') }}"></script>
                <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('assets/js/simpleLightbox.min.js') }}"></script>
                <script src="{{ asset('assets/js/scripts.js') }}"></script>

            {% endblock %}


    </body>
</html>
